<div *ngFor="let a of About" class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="wideget-user">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="wideget-user-desc">
                                <div class="wideget-user-img" style="max-width: 250px; max-height: 250px;">
                                    <img class="" src="{{imageHost+a.logo}}" alt="img">
                                </div>
                                <div class="user-wrap">
                                    <h4>{{a.titleA}}</h4>
                                    <h6 class="text-muted mb-3">Member Since: November 2018</h6>
                                    <a href="#" class="btn btn-success"><i class="fa fa-rss"></i> Follow</a>
                                    <a href="#" class="btn btn-info"><i class="fa fa-envelope"></i> E-mail</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="wideget-user-info">
                                <div class="wideget-user-warap">
                                    <div class="wideget-user-warap-l">
                                        <h4 class="text-danger">7253</h4>
                                        <P>Total Items</P>
                                    </div>
                                    <div class="wideget-user-warap-r">
                                        <h4 class="text-danger">8432</h4>
                                        <P>Total Sales</P>
                                    </div>
                                </div>
                                <div class="wideget-user-rating">
                                    <a href="#"><i class="fa fa-star text-warning"></i></a>
                                    <a href="#"><i class="fa fa-star text-warning"></i></a>
                                    <a href="#"><i class="fa fa-star text-warning"></i></a>
                                    <a href="#"><i class="fa fa-star text-warning"></i></a>
                                    <a href="#"><i class="fa fa-star text-warning mr-1"></i></a> <span> (3876
                                        Reviews)</span>
                                </div>
                                <div class="wideget-user-icons">
                                    <a href="{{a.facebook}}" class="facebook-bg mt-0"><i class="fa fa-facebook"></i></a>
                                    <a href="{{a.instagram}}" class="google-bg"><i class="fa fa-instagram"></i></a>
                                    <a href="{{a.twitter}}" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                    <a href="{{a.youtube}}" class="dribbble-bg"><i class="fa fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="wideget-user-tab">
                    <div class="tab-menu-heading">
                        <div class="tabs-menu1">
                            <ul class="nav">
                                <li class=""><a href="#tab-51" class="active" data-toggle="tab">Profile</a></li>
                                <li><a href="#tab-71" data-toggle="tab" class="">Followers</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="border-0">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-51">
                            <div id="profile-log-switch">
                                <div class="media-heading">
                                    <h5><strong>Personal Information</strong></h5>
                                </div>
                                <div class="table-responsive ">
                                    <table class="table row table-borderless">
                                        <tbody class="col-lg-12 col-xl-6 p-0">
                                            <tr>
                                                <td><strong>Full Name :</strong> Ahmed hamdi</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Location :</strong> SA</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Languages :</strong> English,Arabic.</td>
                                            </tr>
                                        </tbody>
                                        <tbody class="col-lg-12 col-xl-6 p-0">
                                            <tr>
                                                <td><strong>Website :</strong>.com</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Email :</strong> {{a.email}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Phone :</strong> {{a.phone1}} </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Phone :</strong> {{a.phone2}} </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row profie-img">
                                    <div class="col-md-12 text-justify">
                                        <div class="media-heading">
                                            <h3><strong>Biography</strong></h3>
                                        </div>
                                        <h4 class="mb-0">{{a.descA}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="tab-pane" id="tab-71">
                            <div class="wideget-user-followers">
                                <div class="media m-0 mt-0 ">
                                    <img class="avatar brround avatar-md ml-3" src="../assets/images/users/male/18.jpg"
                                        alt="avatar-img">
                                    <div class="media-body">
                                        <a href="" class="text-default font-weight-semibold">John Paige</a>
                                        <p class="text-muted ">johan@gmail.com</p>
                                    </div>
                                </div>
                                <div class="media mt-2 ">
                                    <span class="avatar cover-image avatar-md brround bg-secondary ml-3">LQ</span>
                                    <div class="media-body">
                                        <a href="" class="text-default font-weight-semibold">Lillian Quinn</a>
                                        <p class="text-muted">lilliangore</p>
                                    </div>
                                </div>
                                <div class="media mt-2 ">
                                    <span class="avatar cover-image avatar-md brround ml-3">IH</span>
                                    <div class="media-body">
                                        <a href="" class="text-default font-weight-semibold">Irene Harris</a>
                                        <p class="text-muted">ireneharris@gmail.com</p>
                                    </div>
                                </div>
                                <div class="media mt-2 ">
                                    <img class="avatar brround avatar-md ml-3"
                                        src="../assets/images/users/female/22.jpg" alt="avatar-img">
                                    <div class="media-body">
                                        <a href="" class="text-default font-weight-semibold">Harry Fisher</a>
                                        <p class="text-muted mb-0">harryuqt</p>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>