<!--Breadcrumb-->


<!-- <div class="cover-image bg-background3" data-image-src="../assets/images/banners/banner2.jpg">
    <section>
        <div class="bannerimg">
            <div class="header-text mb-0">
                <div class="container">
                    <div class="text-center text-white">
                        <h1 class="">Register</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div> -->
<!--/Breadcrumb-->

<!--Register-section-->

<section class="sptb">
    <div class="container customerpage">
        <div class="row">
            <div class="single-page">
                <div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
                    <div class="wrapper wrapper2">
                        <form [formGroup]="Userform" (submit)="onSubmit(Userform.value)"id="Register" class="card-body" tabindex="500">
                            <h3>Register</h3>
                            <div class="form-row">

                                <div class="col-lg-12 col-md-12">


                                    <div class="text-center" style="text-align: center; width: 100% ;">
                                        <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">
                                    </div>
                                    <br>

                                    <fieldset class="form-group">
                                        <div class="custom-file  mx-auto d-block">
                                            <input type="file" accept="image/*" #fileUploader
                                                (change)="showPreview($event)" class="custom-file-input"
                                                id="inputGroupFile01">
                                            <label class="custom-file-label" for="inputGroupFile01">Choose
                                                Main Image</label>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="col-md-6">
                                    <div class="position-relative form-group"><label for="firstName">First Name </label>
                                        <input class="form-control " id="firstName" formControlName="firstName"
                                            name="firstName" placeholder="" type="text">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="position-relative form-group"><label for="lastName">Last Name </label>
                                        <input class="form-control " id="lastName" formControlName="lastName"
                                            name="lastName" placeholder="" type="text">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="position-relative form-group"><label for="phone">Phone </label>
                                        <input class="form-control" id="phone" formControlName="phone" name="phone"
                                            placeholder="" type="text">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="position-relative form-group"><label for="email">Email </label>
                                        <input class="form-control" id="email" formControlName="email" name="email"
                                            placeholder="" type="email">
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <div class="position-relative form-group"><label for="password">Password</label>
                                        <input class="form-control" id="password" formControlName="password"
                                            name="password" placeholder="" type="password">
                                    </div>
                                </div>


                            </div>

                            <div class="submit">
                                <button [disabled]="!isSubmitted" type="submit" class="btn btn-primary btn-block">Register</button>
                            </div>

                            <p class="text-dark mb-0">Already have an account?<a routerLink="/user/login" class="text-primary ml-1">Log In</a></p>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Register-section-->

<!--Onlinesletter-->
<section class="sptb bg-white border-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xl-6 col-md-12">
                <div class="sub-newsletter">
                    <h3 class="mb-2"><i class="fa fa-paper-plane-o mr-2"></i> Subscribe To Our Onlinesletter</h3>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                </div>
            </div>
            <div class="col-lg-5 col-xl-6 col-md-12">
                <div class="input-group sub-input mt-1">
                    <input type="text" class="form-control input-lg " placeholder="Enter your Email">
                    <div class="input-group-append ">
                        <button type="button" class="btn btn-primary btn-lg br-tr-3  br-br-3">
                            Subscribe
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--/Onlinesletter-->