<div class="app-content my-3 my-md-5">
    <div class="side-app">
        <div class="banner-1 cover-image" style="background-image: url('../../../assets/images/tdawl.jpeg');"></div>
		<h3 class="text-right">{{'Educational Library'|translate}}</h3>
							<div class="row">
								<div class="col-lg-12">
									<div class="card">
										<div class="card-body text-center" style="background-image: url('../../../assets/images/tdawl.jpeg'); width:100%;height:250px">
	
										</div>
										<div class="card-footer">
											<div class="wideget-user-tab">
												<div class="tab-menu-heading">
													<div class="tabs-menu1">
														<ul class="nav">
															<li class=""><a href="#tab-51" class="active" data-toggle="tab">{{"Schedule of trading seminars and meetings"|translate}}</a></li>
															<li><a href="#tab-61" data-toggle="tab" class="">{{"Trading education books in the financial markets"|translate}}</a></li>
															<li><a href="#tab-71" data-toggle="tab" class="">{{"educational articles"|translate}}</a></li>
                                                            <li><a href="#tab-81" data-toggle="tab" class="">{{"indicators library"|translate}}</a></li>
                                                            <li><a href="#tab-91" data-toggle="tab" class="">{{"currency converter"|translate}}</a></li>
                                                            <li><a href="#tab-41" data-toggle="tab" class="">{{"Market working hours"|translate}}</a></li>

														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-body">
											<div class="border-0">
												<div class="tab-content">

													<div class="tab-pane active" id="tab-51">
														<div class="col-md-12">
															<h3>
																{{"Training courses and electronic trading seminars"|translate}}
															</h3>
															<p>
																اطلع على جدول الدورات التدريبية و الويبينارات و الندوات والمحاضرات المباشرة في تعلم التداول في أسواق المال المختلفة، من تداول الأسهم السعودية وحتى أسواق العملات و الفوركس.

															</p>
														</div>
														<div id="profile-log-switch">
															<section class="sptb">
																<div class="container">
																	
																	<div class="row">
																		<div class="col-xl-9 col-lg-9 col-md-12">
																	
																			<div class="card blog-detail">

																				<div *ngFor="let forex of forexTraining" class="card-body">
																					<div class="item7-card-img">
																						
																						<img src="../../../assets/images/tdawl.jpeg" alt="img" class="w-100">
																						<div class="item7-card-text">
																							<span class="badge badge-info">Online</span>

																								<div style="position:absolute; left:5px;bottom: 5px;color:white">
																									<h3>CountDown</h3>
																								</div>
																						</div>
																						
																					</div>
																					<div class="item7-card-desc d-flex mb-2 mt-3">
																						<a  class="text-muted"><i class="fa fa-calendar-o ml-2"></i>{{forex.date}}</a>
																						<a  class="text-muted">&nbsp;|&nbsp;</a>
																						<a  class="text-muted"><i class="fa fa-user-o text-muted ml-2"></i>{{forex.speakers}}</a>
																						<a  class="text-muted">&nbsp;|&nbsp;</a>
																						<a  class="text-muted"><i class="fa fa-clock-o text-muted ml-2"></i>{{forex.duration}}</a>
																						<a  class="text-muted">&nbsp;|&nbsp;</a>
																						<a  class="text-muted"><i class="fa fa-credit-card-alt text-muted ml-2"></i>{{forex.price}}</a>
																						<div class="mr-auto">
																							<a href="#" class="btn btn-primary"><i class="ml-2"></i>سجل الان</a>
																						</div>
																					</div>
																					<a href="#" class="text-dark"><h2 class="font-weight-semibold">{{forex.title}}</h2></a>
																					<p>{{forex.desc}}</p>
																				</div>
																				
																			</div>
																		</div>
																		<!--Rightside Content-->
																		<div class="col-xl-3 col-lg-3 col-md-12">
																			<div class="card">
																				<div class="card-header">
																					<h3 class="card-title">{{'Seminars lecturer'|translate}}</h3>
																				</div>
																				<div class="card-body p-0">
																					<ul class="vertical-scroll">
																						<li *ngFor="let forex of forexTraining" class="item2">
																							<div class="footerimg d-flex mt-0 mb-0">
																								<div class="d-flex footerimg-l mb-0">
																									<img src="../assets/images/users/female/18.jpg" alt="image" class="avatar brround  ml-2">
																									<a href="#" class="time-title p-0 leading-normal mt-2">{{forex.speakers}}<i class="icon icon-check text-success fs-12 ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="verified"></i></a>
																								</div>
																								<div class="mt-2 footerimg-r mr-auto">
																									<a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Articles"><span class="text-muted ml-2"><i class="fa fa-comment-o"></i> 16</span></a>
																									<a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Likes"><span class="text-muted"><i class="fa fa-thumbs-o-up"></i> 36</span></a>
																								</div>
																							</div>
																						</li>
																					</ul>
																				</div>
																			</div>
																			<div class="card">
																				<div class="card-header">
																					<h3 class="card-title">{{'Categories'|translate}}</h3>
																				</div>
																				<div class="card-body p-0">
																					<div class="list-catergory">
																						<div class="item-list">
																							<ul class="list-group mb-0">
																								<li class="list-group-item">
																									<a class="text-dark">
																										<i><img src="../assets/images/crypto-currencies/dash.svg" alt="Dash" class="w-4 h-4"></i> Dash
																										<span class="badgetext badge badge-pill badge-light mb-0 mt-1">14</span>
																									</a>
																								</li>
																								<li class="list-group-item">
																									<a class="text-dark">
																										<i class=""><img src="../assets/images/crypto-currencies/monero.svg" alt="" class="w-4 h-4"></i>Monero
																										<span class="badgetext badge badge-pill badge-light mb-0 mt-1">63</span>
																									</a>
																								</li>
																								<li class="list-group-item">
																									<a href="#" class="text-dark">
																										<i><img src="../assets/images/crypto-currencies/tron.svg" alt="" class="w-4 h-4"></i> TRON
																										<span class="badgetext badge badge-pill badge-light mb-0 mt-1">25</span>
																									</a>
																								</li>
																								<li class="list-group-item">
																									<a href="#" class="text-dark">
																										<i><img src="../assets/images/crypto-currencies/bitcoinglod.svg" alt="" class="w-4 h-4"></i> Bitcoin Gold
																										<span class="badgetext badge badge-pill badge-light mb-0 mt-1">74</span>
																									</a>
																								</li>
																								<li class="list-group-item">
																									<a href="#" class="text-dark">
																										<i><img src="../assets/images/crypto-currencies/bitcoin.svg" alt="Bitcoin" class="w-4 h-4"></i> Bitcoin
																										<span class="badgetext badge badge-pill badge-light mb-0 mt-1">18</span>
																									</a>
																								</li>
																								<li class="list-group-item">
																									<a href="#" class="text-dark">
																										<i><img src="../assets/images/crypto-currencies/ethereum.svg" alt="Ethereum" class="w-4 h-4"></i> Ethereum
																										<span class="badgetext badge badge-pill badge-light mb-0 mt-1">32</span>
																									</a>
																								</li>
																								<li class="list-group-item border-bottom-0">
																									<a href="#" class="text-dark">
																										<i><img src="../assets/images/crypto-currencies/ripple.svg" alt="Ripple" class="w-4 h-4"></i> Ripple
																										<span class="badgetext badge badge-pill badge-light mb-0 mt-1">08</span>
																									</a>
																								</li>
																							</ul>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="card">
																				<div class="card-header">
																					<h3 class="card-title">Popular Classes</h3>
																				</div>
																				<div class="card-body pb-3">
																					<div class="rated-products">
																						<ul class="vertical-scroll">
																							<li class="item">
																								<div class="media m-0 mt-0 p-5">
																									<img class=" ml-4" src="../assets/images/png/11.png" alt="img">
																									<div class="media-body">
																										<h4 class="mt-2 mb-1">Php Classes</h4>
																										<span class="rated-products-ratings">
																											<i class="fa fa-star text-warning"> </i>
																											<i class="fa fa-star text-warning"> </i>
																											<i class="fa fa-star text-warning"> </i>
																											<i class="fa fa-star text-warning"> </i>
																											<i class="fa fa-star text-warning"> </i>
																										</span>
																										<div class="h5 mb-0 font-weight-semibold mt-1">$17 - $29</div>
																									</div>
																								</div>
																							</li>
																						</ul>
																					</div>
																				</div>
																			</div>
																			<div class="card mb-0">
																				<div class="card-header">
																					<h3 class="card-title">Popular Classes</h3>
																				</div>
																				<div class="card-body">
																					<div class="product-tags clearfix">
																						<ul class="list-unstyled mb-0">
																							<li><a href="#">Web Security</a></li>
																							<li><a href="#">Mobile Computing</a></li>
																							<li><a href="#">Slaesforce</a></li>
																							<li><a href="#">Python Classes</a></li>
																							<li><a href="#">Data Science</a></li>
																							<li><a href="#">Digital marketing</a></li>
																							<li><a href="#">UNIX</a></li>
																							<li><a href="#">.net</a></li>
																							<li><a href="#">Automobiles</a></li>
																							<li><a href="#">Computers</a></li>
																							<li><a href="#" class="mb-0"> Web Designing</a></li>
																						</ul>
																					</div>
																				</div>
																			</div>
																			
																		</div>
																		<!--/Rightside Content-->
																	</div>
																</div>
															</section>
														</div>
													</div>

													<div class="tab-pane" id="tab-61">
														<div class="row blog-grid">
															<!-- *ngFor=" let book of Books" -->
															<div  class="col-xl-4 col-lg-6 col-md-12">
																<div class="card">
																	<div class="item7-card-img">
																		<a href="#"></a>
																		<img src="../assets/images/media/0-2.jpg" alt="img" class="cover-image">
																		<div class="item7-card-text">
																			<span class="badge badge-info">Online</span>
																		</div>
																	</div>
																	<div class="card-body" style="text-align:center;">
																	
																		<a href="#" class="text-dark"><h3 class="font-weight-semibold">Market</h3></a>
																		<p>Ut enim ad minima veniam, quis exercitationem into enim ad minima veniam, quis nostrum itationem </p>
																		<a href="#" class="btn btn-primary btn-sm">Read More</a>
																	</div>
																</div>
															</div>
                   
                										</div>
													</div>

													<div class="tab-pane" id="tab-71">
														<div class="wideget-user-followers">
															<div class="row row-cards row-deck">
																<div class="col-md-12">
																	<div class="card ">
																		<div class="card-header">
																			<h3 class="card-title">{{"Forex market currency trading"|translate}}</h3>
																		</div>
																		<div class="card-body">
																			<div class="product-tags clearfix">
																				<ul class="list-unstyled mb-0">
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>

																				</ul>
																			</div>
																		</div>
																	</div>
																</div>

																<div class="col-md-12">
																	<div class="card ">
																		<div class="card-header">
																			<h3 class="card-title">{{"Cryptocurrency"|translate}}</h3>
																		</div>
																		<div class="card-body">
																			<div class="product-tags clearfix">
																				<ul class="list-unstyled mb-0">
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>

																				</ul>
																			</div>
																		</div>
																	</div>
																</div>

																<div class="col-md-12">
																	<div class="card ">
																		<div class="card-header">
																			<h3 class="card-title">{{"Technical analysis in the currency market"|translate}}</h3>
																		</div>
																		<div class="card-body">
																			<div class="product-tags clearfix">
																				<ul class="list-unstyled mb-0">
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>

																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
																
																<div class="col-md-12">
																	<div class="card ">
																		<div class="card-header">
																			<h3 class="card-title">{{"Technical Analysis Tools"|translate}}</h3>
																		</div>
																		<div class="card-body">
																			<div class="product-tags clearfix">
																				<ul class="list-unstyled mb-0">
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>
																					<li><a class="fa fa-file-text text-dark" style="font-size: large;" aria-hidden="true" href="#">&nbsp;Web Security</a></li>

																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>

                                                    <div class="tab-pane" id="tab-81">
														<div class="wideget-user-followers">
															
															<div class="card">
																<div class="card-header">
																	<h3 class="card-title">اسم المؤشر</h3>
																</div>
																<div class="card-body">
																	<div class="mb-4 description">
																		<p>وصف المؤشر</p>
																		<p>we with righteous indignation and dislike men who are so beguiled and demoraliz the .</p>
																	</div>
																	<h4 class="mb-4 font-weight-bold"> مميزات المؤشر</h4>
																	<div class="row">
																		<div class="col-xl-6 col-md-12">
																			<ul class="list-unstyled widget-spec mb-0">
																				<li class="">
																					<i class="fa fa-star text-muted w-5"></i>Free Demo
																				</li>
																				<li class="">
																					<i class="fa fa-user text-muted w-5"></i> 100% job Assistance
																				</li>
																				
																			</ul>
																		</div>
																	</div>
																</div>
																<div class="card-footer">
																	<div class="icons">
																		<a href="#" class="btn btn-secondary mb-3 mb-xl-0 icons"><i class="fa fa-book" aria-hidden="true"></i> Learn More</a>&nbsp;
																		<a href="#" class="btn btn-info mb-3 mb-xl-0 icons" data-toggle="modal" data-target="#report"><i class="fa fa-download" aria-hidden="true"></i>Download</a>
																		<!-- <a href="#" class="btn btn-success icons"><i class="icon icon-heart  ml-1"></i> 678</a>
																		<a href="#" class="btn btn-warning icons"><i class="icon icon-printer  ml-1"></i> Print</a> -->
																	</div>
																</div>
															</div>
														</div>
													</div>

                                                    <div class="tab-pane" id="tab-91">
														<div class="wideget-user-followers row">
															<div class="col-md-3" >
																<iframe 
																	style="margin:0;"
																	height="355" 
																	width="215" 
																	src="https://ssltools.investing.com/currency-converter/index.php?from=17&to=12&force_lang=3">
																</iframe><br />
																
															</div>
															<div class="col-md-7">
																<iframe 
																	src="https://sa.widgets.investing.com/live-currency-cross-rates?theme=darkTheme"
																	width="100%" 
																	height="100%" 
																	frameborder="0" 
																	allowtransparency="true" 
																	marginwidth="0" 
																	marginheight="0">
																</iframe>
															</div>
														</div>
													</div>

                                                    <div class="tab-pane" id="tab-41">
														<div class="wideget-user-followers">
															<div class="media m-0 mt-0 ">
																<img class="avatar brround avatar-md ml-3" src="../assets/images/users/male/18.jpg" alt="avatar-img">
																<div class="media-body">
																	<a href="" class="text-default font-weight-semibold">John Paige</a>
																	<p class="text-muted ">johan@gmail.com</p>
																</div>
															</div>
															<div class="media mt-2 ">
																<span class="avatar cover-image avatar-md brround bg-secondary ml-3">LQ</span>
																<div class="media-body">
																	<a href="" class="text-default font-weight-semibold">Lillian Quinn</a>
																	<p class="text-muted">lilliangore</p>
																</div>
															</div>
															<div class="media mt-2 ">
																<span class="avatar cover-image avatar-md brround ml-3">IH</span>
																<div class="media-body">
																	<a href="" class="text-default font-weight-semibold">Irene Harris</a>
																	<p class="text-muted">ireneharris@gmail.com</p>
																</div>
															</div>
															<div class="media mt-2 ">
																<img class="avatar brround avatar-md ml-3" src="../assets/images/users/female/22.jpg" alt="avatar-img">
																<div class="media-body">
																	<a href="" class="text-default font-weight-semibold">Harry Fisher</a>
																	<p class="text-muted mb-0">harryuqt</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
    </div>
</div>
