
<section class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="row blog-grid">
                    <!-- *ngFor=" let book of Books" -->
                    <div  class="col-xl-4 col-lg-6 col-md-12">
                        <div class="card">
                            <div class="item7-card-img">
                                <a href="#"></a>
                                <img src="../assets/images/media/0-2.jpg" alt="img" class="cover-image">
                                <div class="item7-card-text">
                                    <span class="badge badge-info">Online</span>
                                </div>
                            </div>
                            <div class="card-body" style="text-align:center;">
                              
                                <a href="#" class="text-dark"><h3 class="font-weight-semibold">Market</h3></a>
                                <p>Ut enim ad minima veniam, quis exercitationem into enim ad minima veniam, quis nostrum itationem </p>
                                <a href="#" class="btn btn-primary btn-sm">Read More</a>
                            </div>
                        </div>
                    </div>
                   
                </div>
                
            </div>
        </div>
    </div>
</section>
