<div class=" container app-content my-3 my-md-5">
    <div class="side-app">
        <div class="page-header my-5">
            <h4 class="page-title">Terms</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Terms</li>
            </ol>
        </div>
        <!--/ Page-Header-->

        <div class="row ">
            <div *ngFor="let term of Terms" class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4><b>{{term.titleA}}</b></h4>
                        <p>{{term.descA}}</p>
                    </div>
                </div>
            </div>
       
<!--            
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4><b>Copyright </b></h4>
                        <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                    </div>
                </div>
            </div> -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body border">
                        <div class="terms">
                            <p>Was this information is Helpful?</p>
                            <a class="btn btn-primary text-white">Yes</a>
                            <a class="btn btn-success text-white">No</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
