<div *ngIf="!enrolled" class="banner-1 cover-image  bg-background2"
    data-image-src="../assets/images/banners/banner1.jpg">
    <div class="header-main">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-sm-4 col-7">
                        <div class="top-bar-right d-flex">
                            <div class="clearfix">
                                <ul class="socials">
                                    <li>
                                        <a class="social-icon text-dark" href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a class="social-icon text-dark" href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a class="social-icon text-dark" href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a class="social-icon text-dark" href="#"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix">
                                <ul class="contact">

                                    <li class="dropdown ml-5">
                                        <a href="#" class="text-dark" data-toggle="dropdown"><span> Language <i
                                                    class="fa fa-caret-down text-muted"></i></span> </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a href="#" class="dropdown-item">
                                                English
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                Arabic
                                            </a>

                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-8 col-5">
                        <div class="top-bar-left">
                            <ul class="custom">
                                <li>
                                    <a routerLink="user/register" class="text-dark"><i class="fa fa-user ml-1"></i>
                                        <span>Register</span></a>
                                </li>
                                <li>
                                    <a routerLink="user/login" class="text-dark"><i class="fa fa-sign-in ml-1"></i>
                                        <span>Login</span></a>
                                </li>



                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Header-->
        <header class="header-search header-logosec p-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="header-search-logo d-none d-lg-block">
                            <a class="header-logo" href="index.html">
                                <img src="../assets/images/brand/logo-01.png" class="header-brand-img" alt=" logo">
                                <img src="../assets/images/brand/logo-02.png" class="header-brand-img header-white"
                                    alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="header-icons float-left">
                            <ul class="header-icons-link">
                                <li class="">
                                    <a href="#" class="header-icons-link1"><i class="fa fa-cog"></i></a>
                                </li>
                                <li class="">
                                    <a routerLink="user/register" class="header-icons-link1"><i
                                            class="fa fa-user"></i></a>
                                </li>
                                <li class="">
                                    <a href="#" class="header-icons-link1"><i class="fa fa-cart-plus"></i>
                                        <span class="main-badge1 badge badge-danger badge-pill">3</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!--/Header-->
    </div>
</div>

<div *ngIf="enrolled" class="banner-1 " style="background-color: #4b5d73;">
    <div class="header-main">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-sm-4 col-7">
                        <div class="top-bar-right d-flex">
                            <div class="clearfix">
                                <ul class="socials">
                                    <li>
                                        <a class="btn social-icon text-dark" href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn social-icon text-dark" href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn social-icon text-dark" href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn social-icon text-dark" href="#"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix">
                                <ul class="contact">

                                    <li class="dropdown ml-5">
                                        <a class="btn text-dark" data-toggle="dropdown">
                                            <span> {{'Language'|translate}} 
                                                <i class="fa fa-caret-down text-muted" style="font-weight:bolder;"></i>
                                            </span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a (click)="translate.use('en')" class="dropdown-item btn" style="font-weight: bolder;">
                                                {{"English"|translate}} </a>
                                            <a (click)="translate.use('ar')" class="dropdown-item btn" style="font-weight: bolder;">
                                                {{"Arabic"|translate}} </a>
                                        </div>
                                    </li>
   
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-8 col-5">
                        <div class="top-bar-left">
                            <ul class="custom">
                                <!-- <li (click)='logout()'>
                                    <button class="btn btn-danger text-dark"><i class="fa fa-sign-out ml-1"></i>
                                        <span>{{'LOG_OUT' |translate}}</span>
                                    </button>
                                </li> -->
                                <li (click)='logout()'>
                                    <button class="btn btn-danger text-dark"><i class="fa fa-power-off"></i>
                                    </button>
                                </li>

                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/Topbar-->

        <!--Header-->
        <header class="header-search header-logosec p-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="header-search-logo d-none d-lg-block">
                            <a class="header-logo" href="index.html">
                                <!-- <img src="../assets/images/brand/logo-01.png" class="header-brand-img" header-white alt=" logo"> -->
                                <img src="../assets/images/brand/logo-02.png" class="header-brand-img" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="header-icons float-left">
                            <div class="app-sidebar__user clearfix">
                                <div class="btn d-flex dropdown user-pro-body">
                                    
                                    <div class="f-right user-info" style="color:white; margin:0 5px">
                                        <h5>{{name}}<br><h6>{{email}}</h6></h5>
                                    </div>
                                    <div class="f-right">
                                        <img src="{{imageHost+image}}" alt="" class="avatar avatar-lg brround">
                                        <a routerLink="user/setting" class="header-icons-link1" class="profile-img">
                                            <span class="fa fa-cog" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                    <div class="clear-float">

                                    </div>
                                </div>
                            </div>
                            <!-- <ul class="header-icons-link">
                                <li class="">
                                    <a routerLink="user/setting" class="header-icons-link1"><i
                                            class="fa fa-cog"></i></a>
                                </li>
                                <li class="">
                                    <a routerLink="user/profile" class="header-icons-link1"><i
                                            class="fa fa-user"></i></a>
                                </li>
                               
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--/Header-->


        <!-- Mobile Header -->
        <div class="sticky">
            <div class="horizontal-header clearfix ">
                <div class="container">
                    <a id="horizontal-navtoggle" class="animated-arrow"><span></span></a>
                    <span class="smllogo"><img src="../assets/images/brand/logo-01.png" width="50" alt="img" /></span>
                    <span class="smllogo-white"><img src="../assets/images/brand/logo-02.png" width="50"
                            alt="img" /></span>
                    <a href="tel:245-6325-3256" class="callusbtn"><i class="fa fa-phone" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <!-- /Mobile Header -->

        <!--Horizontal-main -->
        <div class="header-style horizontal-main bg-dark-transparent clearfix">
            <div class="horizontal-mainwrapper container-fluid clearfix">
                <nav class="horizontalMenu clearfix d-md-flex">
                    <ul class="horizontalMenu-list">
                        <li aria-haspopup="true" class="li-list" style="font-weight:bold; font-size:large;">
                            <a routerLink="home">{{'HOME' |translate}} </a>
                        </li>
                        <!-- <li aria-haspopup="true" style="font-weight: bold; font-size:large;">
                            <a routerLink="spike/about" routerLinkActive="lol">{{'About'|translate}} </a>
                        </li> -->
                        <li aria-haspopup="true" class="li-list" style="font-weight: bold; font-size:large;">
                            <a routerLink="spike/analysis"routerLinkActive="lol">{{'Market Analysis'|translate}} </a>
                        </li>
                        <li aria-haspopup="true" style="font-weight: bold; font-size:large;">
                            <a routerLink="spike/mainNotepad" routerLinkActive="lol">{{'Main Notepad'|translate}} </a>
                        </li>
                        <li aria-haspopup="true" style="font-weight: bold; font-size:large;">
                            <a routerLink="spike/traders" routerLinkActive="lol">{{'Traders Community'|translate}} </a>
                        </li>
                        <li aria-haspopup="true" style="font-weight: bold; font-size:large;">
                            <a routerLink="spike/educational" routerLinkActive="lol">{{'Educational Library'|translate}} </a>
                        </li>
                        <li aria-haspopup="true" style="font-weight: bold; font-size:large;">
                            <a routerLink="spike/tradingCompany" routerLinkActive="lol">{{'Trading Companies'|translate}} </a>
                        </li>
                        <li aria-haspopup="true" style="font-weight: bold; font-size:large;">
                            <a routerLink="spike/subscription" routerLinkActive="lol">{{'Services & Subscriptions'|translate}} </a>
                        </li>
                        <li aria-haspopup="true" style="font-weight: bold; font-size:large;">
                            <a routerLink="spike/ResultsEvaluation" routerLinkActive="lol">{{'Results and evaluation of services'|translate}} </a>
                        </li>

                        <!-- <li aria-haspopup="true" style="font-weight: bold; font-size:large;">
                            <a routerLink="spike/book" routerLinkActive="lol">{{'Books'|translate}}</a>
                        </li> -->
                        <!-- <li aria-haspopup="true" style="font-weight: bold; font-size:large;">
                            <a routerLink="spike/speaker" routerLinkActive="lol">{{'Speakers'|translate}} </a>
                        </li>
                        <li aria-haspopup="true" style="font-weight: bold; font-size:large;">
                            <a routerLink="spike/contact" routerLinkActive="lol"> {{'Contact'|translate}}</a>
                        </li> -->
                      
                    </ul>
                    <!-- <ul class="mb-0">
                        <li aria-haspopup="true" class="d-none d-lg-block ">
                            <span><a class="btn btn-primary  ad-post" routerLink="user/register">Enroll Now</a></span>
                        </li>
                    </ul> -->
                </nav>
            </div>
        </div>
    </div>
</div>
<!--/Horizontal-main -->