<div class="app-content my-3 my-md-5">
    <div class="side-app">
        <div>
            <div class="my-5">
                <h3 class="text-right ">{{"Traders Community"|translate}}</h3>
            </div>
            <div class="row">

                <div class="col-lg-12">
                    <div class="card card-blog-overlay2">
                        <div class="card-body  text-white">
                            <div class="statistics-info">
                                <div class="row text-center">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="counter-status">
                                            <div class="counter-icon">
                                                <i class="fa fa-trademark" aria-hidden="true" ></i>
                                            </div>
                                            <h5>{{"Commodities Community"|translate}}</h5>
                                            <h2 class="counter">20569</h2>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="counter-status">
                                            <div class="counter-icon">
                                                <i class="fa fa-money"></i>
                                            </div>
                                            <h5>{{"Forex Community"|translate}}</h5>
                                            <h2 class="counter">10765</h2>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="counter-status">
                                            <div class="counter-icon">
                                                <i class="fa fa-connectdevelop"></i>
                                            </div>
                                            <h5>{{"Cryptocurrency community"|translate}}</h5>
                                            <h2 class="counter">11846</h2>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="counter-status">
                                            <div class="counter-icon">
                                                <i class="icon icon-people"></i>
                                            </div>
                                            <h5>{{"Traders"|translate}}</h5>
                                            <h2 class="counter">43120</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="app-content my-3 my-md-5">
            <div class="side-app">
                <!--/Page-Header-->

                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Simple Jumbotron</h3>
                            </div>
                            <div class="card-body">
                                <div class="jumbotron">
                                    <h1 class="display-3">{{"Commodities Community"|translate}}</h1>
                                    <p class="lead">{{"Commodities Community"|translate}}Comming SoooN</p>
                                    <p class="lead m-0">
                                        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Jumbotron</h3>
                            </div>
                            <div class="card-body">
                                <div class="jumbotron jumbotron-fluid">
                                    <div class="container">
                                        <h1 class="display-3">{{"Cryptocurrency community"|translate}}</h1>
                                        <p class="lead m-0">{{"Cryptocurrency community"|translate}} Comming SoooN</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>