<div class="app-content my-3 my-md-5">
    <div class="side-app">
        <div class="banner-1 cover-image" style="background-image: url('../../../assets/images/tdawl.jpeg');"></div>
        <h3 class="text-right">{{'Trading Companies'|translate}}</h3>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body text-center"
                        style="background-image: url('../../../assets/images/tdawl.jpeg'); width:100%;height:250px">
                    </div>
                    <div class="card-footer">
                        <div class="wideget-user-tab">
                            <div class="tab-menu-heading">
                                <div class="tabs-menu1">
                                    <ul class="nav">
                                        <li class=""><a href="#tab-51" class="active" data-toggle="tab">{{"Forex Brokers"|translate}}</a></li>
                                        <li><a href="#tab-61" data-toggle="tab" class="">{{"Cryptocurrency Brokers"|translate}}</a></li> 
                                                             
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="border-0">
                            <div class="tab-content">

                                <div class="tab-pane active" id="tab-51">
                                    <div  id="profile-log-switch">
                                       <div class="row">
                                           <div col-md-12>
                                                <h3>{{"Brokerage Companies Directory - Forex Companies"|translate}}</h3>
                                                <p>دليل شركات الوساطة دليل مخصصة لمقارنة شركات الفوركس والتعرف على مميزات كل وسيط من وسطاء التداول
                                                    ، حيث يعرض الدليل بعض المميزات مثل مقر وسيط التداول و نوع الوسيط هل هو صانع سوق أو وسيط STP
                                                     أو غيره، كما يعرض الهيئة الرقابية التي يخضع لها كل وسيط فوركس،
                                                     بالإضافة إلى جميع المعلومات التي تخص التداول مثل أنواع حسابات التداول، وفروقات الأسعار،<span style="color:red; font-weight: bold; font-size: larger;">( لينك مقاله عن كيفية اختيار افضل وسيط )</span> 
                                                </p>
                                                
                                           </div>
                                       </div>
                                    </div>
                                     
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title">{{"Forex"|translate}}</h3>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table card-table table-vcenter text-nowrap table-primary" >
                                                        <thead  class="bg-primary text-white">
                                                            <tr >
                                                                <th class="text-white">{{"Broker Name"|translate}}</th>
                                                                <th class="text-white">{{"Main Country"|translate}}</th>
                                                                <th class="text-white">{{"Media Type"|translate}}</th>
                                                                <th class="text-white">{{"Oversight Bodies"|translate}}</th>
                                                                <th class="text-white">{{"Minimum Account Amount"|translate}}</th>
                                                                <th class="text-white">{{"Registration Explanation"|translate}}</th>
                                                                <th class="text-white">{{"Register now"|translate}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th>صوره واسم</th>
                                                                <td>string</td>
                                                                <td>string</td>
                                                                <td>string</td>
                                                                <td>Currancy$</td>
                                                                <td>عند الضغط يتم تحويله لمقاله في قسم المقالات التعليميه</td>
                                                                <td>يقوم صاحب العمل بوضه لينك للتسجيل بنفسه</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- table-responsive -->
                                            </div>
                                        </div>
                                    </div>
                                </div>




                                <div class="tab-pane" id="tab-61">
                                    <div  id="profile-log-switch">
                                        <div class="row">
                                            <div col-md-12>
                                                 <h3>{{"Brokerage Companies Directory - Cryptocurrency Companies"|translate}}</h3>
                                                 <p>دليل شركات الوساطة دليل مخصصة لمقارنة شركات الفوركس والتعرف على مميزات كل وسيط من وسطاء التداول
                                                    ، حيث يعرض الدليل بعض المميزات مثل مقر وسيط التداول و نوع الوسيط هل هو صانع سوق أو وسيط STP
                                                     أو غيره، كما يعرض الهيئة الرقابية التي يخضع لها كل وسيط فوركس،
                                                     بالإضافة إلى جميع المعلومات التي تخص التداول مثل أنواع حسابات التداول، وفروقات الأسعار،<span style="color:red; font-weight: bold; font-size: larger;">( لينك مقاله عن كيفية اختيار افضل وسيط )</span> 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title">{{"Cryptocurrency"|translate}}</h3>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table card-table table-vcenter text-nowrap table-primary" >
                                                        <thead  class="bg-primary text-white">
                                                            <tr >
                                                                <th class="text-white">{{"Broker Name"|translate}}</th>
                                                                <th class="text-white">{{"Main Country"|translate}}</th>
                                                                <th class="text-white">{{"Media Type"|translate}}</th>
                                                                <th class="text-white">{{"Oversight Bodies"|translate}}</th>
                                                                <th class="text-white">{{"Minimum Account Amount"|translate}}</th>
                                                                <th class="text-white">{{"Registration Explanation"|translate}}</th>
                                                                <th class="text-white">{{"Register now"|translate}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th></th>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- table-responsive -->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>