<div class="app-content my-3 my-md-5">
    <div class="side-app">
        <div class="banner-1 cover-image" style="background-image: url('../../../assets/images/tdawl.jpeg');"></div>
        <h3 class="text-right">{{'Main Notepad'|translate}}</h3>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body text-center"
                        style="background-image: url('../../../assets/images/tdawl.jpeg'); width:100%;height:250px">
                    </div>
                    <div class="card-footer">
                        <div class="wideget-user-tab">
                            <div class="tab-menu-heading">
                                <div class="tabs-menu1">
                                    <ul class="nav">
                                        <li class=""><a href="#tab-51" class="active" data-toggle="tab">{{"Forex"|translate}}</a></li>
                                        <li><a href="#tab-61" data-toggle="tab" class="">{{"Cryptocurrency"|translate}}</a></li>                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="border-0">
                            <div class="tab-content">

                                <div class="tab-pane active" id="tab-51">
                                    <div  id="profile-log-switch">
                                        
                                       <div class="row">
                                           <div class="col-md-6">

                                           </div>
                                            <div class="col-md-6">
                                                <div class="media-heading">
                                                    <h3>{{"Forex" |translate}}</h3>
                                                </div>
                                                <iframe  style="direction: rtl;"
                                                src="https://sslecal2.investing.com?columns=exc_flags,exc_currency,exc_importance,exc_actual,exc_forecast,exc_previous&features=datepicker,timezone&countries=25,17,26,10,92,143,145,52,37,94,105,5,35,4,63,87,36,12,22,193,170,6,68,59,72,43&calType=week&timeZone=70&lang=3"
                                                width="650" 
                                                height="467" 
                                                frameborder="0" 
                                                allowtransparency="true" 
                                                marginwidth="0" 
                                                marginheight="0">
                                                </iframe>
                                            </div>
                                       </div>
                                        
                                      
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-61">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div style="margin: 10px 0 ;">
                                                <h3>الأسعار الحية للعملات الرقمية</h3>
                                            </div>
                                            
                                            <iframe 
                                                src="https://sa.widgets.investing.com/crypto-currency-rates?theme=darkTheme&pairs=945629,997650,1001803,1010773,1010776" 
                                                width="100%"
                                                height="250px"
                                                frameborder="0" 
                                                allowtransparency="true" 
                                                marginwidth="0" 
                                                marginheight="0">
                                            </iframe>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title">{{"Cryptocurrency"|translate}}</h3>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table card-table table-vcenter text-nowrap table-primary" >
                                                        <thead  class="bg-primary text-white">
                                                            <tr >
                                                                <th class="text-white">{{"Time"|translate}}</th>
                                                                <th class="text-white">{{"Currancy"|translate}}</th>
                                                                <th class="text-white">{{"value"|translate}}</th>
                                                                <th class="text-white">{{"Event"|translate}}</th>
                                                                <th class="text-white">{{"True"|translate}}</th>
                                                                <th class="text-white">{{"Expect"|translate}}</th>
                                                                <th class="text-white">{{"Previous"|translate}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let Crypto of Cryptocurrency">
                                                                <th>{{Crypto.time}}</th>
                                                                <td>{{Crypto.currency}}</td>
                                                                <td>{{Crypto.value}}</td>
                                                                <td>{{Crypto.event}}</td>
                                                                <td>{{Crypto.current}}</td>
                                                                <td>{{Crypto.appreciation}}</td>
                                                                <td>{{Crypto.previous}}</td>
                                                            </tr>.
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- table-responsive -->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>